/*
==================================
    CSS RESET
==================================    
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
==================================
    ROOT & VARIABILI
==================================
*/

h1 {
    font-family: "Edu TAS Beginner", sans-serif;
    font-size: 3rem;
}

/*
==================================
    HEADER
==================================
*/

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header-container {
    background-image: url('../img/wall.png');
    padding: 20px;
    text-align: center;
}

/*
==================================
    MAIN
==================================
*/

.wrapper {
    background-image: url('../img/cork.png');
    flex: 1;
}

#card-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    width: 100%;
}

.card {
    background-color: white;
    padding: 10px;
    flex-basis: 300px;
    flex-shrink: 1;
    position: relative;
}

.card-pin {
    position: absolute;
    width: 25px;
    right: 50%;
    top: 5px;
    transform: translate(50%, -50%);
}

.container-img {
    width: 100%;
    aspect-ratio: 1;
    background-color: blue;
    margin: 0 auto;
}

.container-description {
    padding: 10px;
    max-width: 70%;
    margin: 0 auto;
}