/*
==================================
    CSS RESET
==================================    
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
==================================
    ROOT & VARIABILI
==================================
*/

.title {
    font-size: 3rem;
}

h1,
h3 {
    font-family: "Edu TAS Beginner", sans-serif;
}

/*
==================================
    HEADER
==================================
*/

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header-container {
    background-image: url('../img/wall.png');
    padding: 20px;
    text-align: center;
}

/*
==================================
    MAIN
==================================
*/

.wrapper {
    background-image: url('../img/cork.png');
    flex: 1;
}

#card-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 50px;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    background-color: white;
    padding: 10px;
    flex-basis: calc((100% / 3) - (20 * 2) / 3);
    flex-shrink: 1;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.card-pin {
    position: absolute;
    width: 25px;
    right: 50%;
    top: 0;
    transform: translate(50%, -50%);
}

.container-img {
    max-width: 100%;
}

.img-card {
    display: block;
    object-fit: cover;
    width: 260px;
}

.date-card {
    font-family: "Sometype Mono", "monospace";
}

.container-description {
    padding: 10px;
}